{{ define "title" }} Out Of Order Band Contact {{ end }}
{{ define "main" }}
<div class="speech-bubble">
  <a href="/setlist">
    <h4>Click for sample set list!</h4>
  </a>
</div>
<div class="ns-contact-shell">
  <div class="ns-contact">
    <h1 class="ns-h1-contact">Contact Us</h1>
    <h4 class="ns-h4">
      Please feel free to contact us by using the below email address or any of
      our social media platforms
    </h4>
    <ul>
      {{ range site.Data.contact }}
      <li>
        {{ partial (printf "icons/%s.html" .icon) . }}
        <span>
          <a class="{{ .class }}" href="{{ .href }}"{{ if ne .type "email" }} target="_blank"{{ end }}>
            {{ .value }}
          </a>
        </span>
      </li>
      {{ end }}
    </ul>
  </div>
</div>
{{ end }}
