{{ define "title" }} Out Of Order Band Gigs {{ end }}
{{ define "main" }}
<div class="speech-bubble">
  <a href="/setlist">
    <h4>Click for sample set list!</h4>
  </a>
</div>
<div class="ns-gigs">
  <h1 class="ns-h1">All Gigs</h1>
  {{ $dateformat := now.Format "2006-01-02" }}
  <section aria-label="All gigs">
    <ul>
      {{ range sort $.Site.Data.gigs "Date" "desc" }}
        {{ if .Date }}
          {{ if gt .Date $dateformat }}
            <li class="ns-notpassed">
              {{ dateFormat "Monday, Jan 2, 2006" .Date }}
              {{ if and .URL .Location }}
                <a href="{{ .URL }}" target="_blank">{{ .Location }}</a>
              {{ else }}
                {{ .Location | default "TBA" }}
              {{ end }}
            </li>
          {{ else }}
            <li class="ns-strikethrough">
              {{ dateFormat "Monday, Jan 2, 2006" .Date }}
              {{ if and .URL .Location }}
                <a href="{{ .URL }}" target="_blank">{{ .Location }}</a>
              {{ else }}
                {{ .Location | default "TBA" }}
              {{ end }}
            </li>
          {{ end }}
        {{ end }}
      {{ end }}
    </ul>
  </section>
</div>
{{ end }}
