{{ define "title" }} Out Of Order Band Set List {{end}} {{ define "main" }}
<div class="speech-bubble">
  <a href="/contact">
    <h4>Click to get in touch!</h4>
  </a>
</div>
<div class="ns-setlist-shell">
    <div class="ns-setlist">
      <h1 class="ns-h1-setlist">Sample Set List</h1>
    <ul class="ns-setlist-details">
      <li>HALF THE WORLD AWAY (Oasis)</li>
      <li>BOYS DON'T CRY (The Cure)</li>  
      <li>GOOD SOULS (Starsailor)</li>
      <li>MARDY BUM (The Arctic Monkeys)</li> 
      <li>THE WEIGHT (The Band)</li>           
      <li>GOD PUT A SMILE (Coldplay)</li>
      <li>DANCING IN THE MOONLIGHT (Thin Lizzy)</li>
      <li>RAMBLE ON (Led Zeppelin)</li>
      <li>PUMP IT UP (Elivis Costello)</li>
      <li>FLY (Lenny Kravitz)</li>
      <li>TIMES LIKE THESE (Foo Fighters)</li>
      <li>--BREAK--</li>
      <li>TOWN CALLED MALICE (The Jam)</li>
      <li>ETON RIFLES (The Jam)</li>
      <li>FRIDAY I'M IN LOVE (The Cure)</li>  
      <li>LET LOVE RULE (Lenny Kravitz)</li> 
      <li>MOLLY'S CHAMBERS (Kings of Leon)</li>      
      <li>EVERLONG (Foo Fighters)</li>               
      <li>LA WOMAN (The Doors)</li>
      <li>COMFORTABLY NUMB (Pink Floyd)</li>
      <li>BOYS IN THE BETTER LAND (Fontaines DC)</li>
      <li>DAKOTA (The Stereophonics)</li>
      <li>CHELSEA DAGER (The Fratellis)</li>
      <li>VOODOO CHILD (Jimi Hendrix)</li>
      <li>--EXTRA--</li>            
      <li>SYMPATHY FOR THE DEVIL (The Rolling Stones)</li>
      <li>HEY JOE (Jimi Hendrix)</li>
      <li>ROADHOUSE (The Doors)</li>
      <li>ROCK 'N' ROLL (Led Zeppelin)</li>
    </ul>
</div>
</div>
{{ end }}
