{{ define "title" }} Out Of Order Band Set List {{ end }}
{{ define "main" }}
<div class="speech-bubble">
  <a href="/contact">
    <h4>Click to get in touch!</h4>
  </a>
</div>
<div class="ns-setlist-shell">
  <div class="ns-setlist">
    <h1 class="ns-h1-setlist">Sample Set List</h1>
    {{/*  <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/2VGxRTfqo7Dr2GwJMeIBi1?utm_source=generator&theme=0" width="100%" height="852" frameborder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>  */}}
    <ul class="ns-setlist-details">
      {{ range site.Data.setlist }}
        <li>{{ .title }}</li>
      {{ end }}
    </ul>
  </div>
</div>
{{ end }}
