{{ define "title" }} Out Of Order Band Videos {{ end }}
{{ define "main" }}
<div class="speech-bubble">
  <a href="/contact">
    <h4>Click to get in touch!</h4>
  </a>
</div>

<div class="ns-gigs">
  <div class="gallery">
    {{ range site.Data.videos }}
    <div>
      <a data-fancybox data-ratio="2" href="{{ .url }}">
        <span class="video-thumbnail">
          <div class="NSPlay"></div>
          <img
            src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
            data-src="https://img.youtube.com/vi/{{ .id }}/0.jpg"
            alt="{{ .title }} video thumbnail"
            loading="lazy"
          />
        </span>
      </a>
      <p>{{ .title }}</p>
    </div>
    {{ end }}
  </div>
</div>
{{ end }}
