<div class="hero-image">
  <div class="hero-text">
    <a href="/">
      {{ partial "icons/frontlogo.html" . }}
    </a>
  </div>
</div>

<div class="ns-tagline">Indie Rock band from the south of England</div>

<nav class="ns-social" aria-label="Social media links">
  <p>
    <button class="ns-linktree-btn">
      <a href="https://linktr.ee/OOOB" target="_blank" rel="noopener">
        {{ partial "icons/frontlinktree.html" . }}
      </a>
    </button>
  </p>
  <a target="_blank" rel="noopener" href="https://www.facebook.com/outoforderbanduk">
    {{ partial "icons/frontfacebook.html" . }}
  </a>
  <a target="_blank" rel="noopener" href="https://instagram.com/outoforderbanduk">
    {{ partial "icons/frontinstagram.html" . }}
  </a>
  <a target="_blank" rel="noopener" href="https://www.youtube.com/@OutOfOrderBand">
    {{ partial "icons/frontyoutube.html" . }}
  </a>
  <hr />
</nav>
