<div class="hero-image">
  <div class="hero-text">
    <a href="/">
      {{ $url := lower .RelPermalink }}

      {{ if or (strings.HasSuffix $url "duo") (strings.HasSuffix $url "duo/") }}
        {{ partial "icons/frontlogofrom.html" . }}
      {{ else }}
        {{ partial "icons/frontlogo.html" . }}
      {{ end }}
    </a>
  </div>
</div>




<div class="ns-tagline">Indie Rock band from the south of England</div>

<nav class="ns-social" aria-label="Social media links">

  <p style="text-align:center; margin-top:6px;">
    <a class="ns-linktree-btn" href="https://linktr.ee/OOOB" target="_blank" rel="noopener" title="Linktree">
      {{ partial "icons/frontlinktree.html" . }}
    </a>
  </p>

  <a target="_blank" rel="noopener" href="https://www.facebook.com/outoforderbanduk">
    {{ partial "icons/frontfacebook.html" . }}
  </a>

  <a target="_blank" rel="noopener" href="https://instagram.com/outoforderbanduk">
    {{ partial "icons/frontinstagram.html" . }}
  </a>

  <!-- TikTok -->
  <a target="_blank" rel="noopener" href="https://www.tiktok.com/@outoforderbanduk">
    {{ partial "icons/fronttiktok.html" . }}
  </a>

  <a target="_blank" rel="noopener" href="https://www.youtube.com/@OutOfOrderBand">
    {{ partial "icons/frontyoutube.html" . }}
  </a>



  <hr />
</nav>