{{$normalize := resources.Get "normalize.scss" }}
{{$milligram := resources.Get "milligram.min.scss" }}
{{$main := resources.Get "main.scss" }}
{{$fancybox := resources.Get "jquery.fancybox.css" }}

{{ $cssOptions := dict "targetPath" "css/main.css" "outputStyle" "compressed" }}

{{ $sassBundle := slice $normalize $milligram $main | resources.Concat "main_concat.scss" }}
{{ $sassCSS := $sassBundle | resources.ExecuteAsTemplate "main_parsed.scss" . | toCSS $cssOptions | postCSS | minify }}

{{ $allCSS := slice $sassCSS $fancybox | resources.Concat "main_bundle.css" | fingerprint "sha256" }}

<link
  rel="preload"
  href="{{ $allCSS.RelPermalink }}?v={{ $allCSS.Data.Hash }}"
  integrity="{{ $allCSS.Data.Integrity }}"
  as="style"
  crossorigin="anonymous"
/>
<link
  rel="stylesheet"
  href="{{ $allCSS.RelPermalink }}?v={{ $allCSS.Data.Hash }}"
  integrity="{{ $allCSS.Data.Integrity }}"
  media="print"
  onload="this.media='all'"
  crossorigin="anonymous"
/>
